@model UoW.ADMIN.Models.UserEditViewModel
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">HESABIM</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Yönetici Paneli</a></li>
                            <li class="breadcrumb-item active">Hesabım</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-3">
                                    <h5 class="text-primary">Hesabım</h5>
                                    <p>Hesabınızı inceleyin ve kontrol edin</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="~/assets/images/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <img src="https://admin.kiracelektrik.com.tr/Files/Admin/@Model.ProfilResim" alt="" class="img-thumbnail rounded-circle">
                                </div>
                                <h5 class="font-size-15 text-truncate">@Model.KullaniciAdi</h5>
                                <p class="text-muted mb-0 text-truncate">@Model.yetkiKullanici.RolAdi</p>
                            </div>

                            <div class="col-sm-8">
                                <div class="pt-4">

                                    <div class="row">
                                        <div class="col-6">
                                            <h5 class="font-size-15">125</h5>
                                            <p class="text-muted mb-0">Bayiler</p>
                                        </div>
                                        <div class="col-6">
                                            <h5 class="font-size-15">1245</h5>
                                            <p class="text-muted mb-0">Yetkililer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>

            <div class="col-xl-8">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Hesabı düzenle</h4>
                                @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(x => x.ID)
                                    <div class="form-group row mb-4">
                                        <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Profil Resmi</label>
                                        <div class="col-sm-9">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" accept="image/*" name="file" id="customFile">
                                                <label class="custom-file-label" for="customFile">Profil Resminizi Seçin</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-4">
                                        <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Kullanıcı Adı</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control", maxlength = "50", autocomplete = "off", placeholder = "Kullanıcı adınızı giriniz", id = "horizontal-firstname-input" })
                                            <label class="text-danger">@Html.ValidationMessageFor(x => x.KullaniciAdi)</label>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-4">
                                        <label for="horizontal-email-input" class="col-sm-3 col-form-label">Şifre</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", maxlength = "20", autocomplete = "off", type = "password", placeholder = "Şifrenizi giriniz", id = "horizontal-lastname-input" })
                                            <label class="text-danger">@Html.ValidationMessageFor(x => x.Sifre)</label>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-4">
                                        <label for="horizontal-password-input" class="col-sm-3 col-form-label">Şifre Tekrar</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.SifreTekrar, new { @class = "form-control", maxlength = "20", autocomplete = "off", type = "password", placeholder = "Şifrenizi tekrar giriniz", id = "horiontal-password-input" })
                                            <label class="text-danger">@Html.ValidationMessageFor(x => x.SifreTekrar)</label>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-4">
                                        <label for="horizontal-password-input" class="col-sm-3 col-form-label">Yetki</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownList("RolID", (SelectList)ViewBag.RolID, "Yetkinizi Seçiniz", new { @class = "form-control", id = "RolID" })
                                        </div>
                                    </div>
                                    <div class="form-group row justify-content-end">
                                        <div class="col-sm-9">
                                            <div>
                                                <button type="submit" onclick="btn_edit()" id="btn_edit_id" class="btn btn-primary w-md">Hesabımı Güncelle</button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/assets/js/pages/form-element.init.js"></script>
    <script>
        function btn_edit() {
            var btn = document.getElementById("btn_edit_id");
            btn.innerText = "Profil Güncelleniyor...";
        }
    </script>
}