@using UoW.DOMAIN.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
@{

    int id = Convert.ToInt32(TempData["KategoriID"]);
    Bayi b = ViewBag.Bayi as Bayi;
    int indirimOran = 0;

    List<Marka> markaListToFilter = ViewBag.MarkalarListToFilter as List<Marka>;
    PagedList<Urun> digerUrunler = ViewBag.Urunler as PagedList<Urun>;
    string KategoriAdi = TempData["KategoriAdi"].ToString();
   
}

<style>
    .bell-position {
        position: relative;
        top: 4px;
        left: 2px;
        font-size: 18px;
    }
</style>

<link href="~/slick/slick.css" rel="stylesheet" />
<link href="~/slick/slick-theme.css" rel="stylesheet" />
<link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css" />

<div class="container-fluid">
    <div class="row" style="margin:auto 0;">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="search-input">
                    <a href="" target="_blank" hidden></a>
                    <input type="text" placeholder="Ürünlerinizi arayın...">
                    <div class="autocom-box">
                    </div>
                    <div class="icon"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    @*<div class="row" style="margin:0 auto;">
            @{await Html.RenderPartialAsync("SliderViewPartial");}
        </div>*@

    <div class="row" style="margin:0 auto;">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">ÜRÜNLERİMİZ</h4>
                <div class="page-title-right">
                    <div class="dropdown" style="float:left; right:15px;">
                        <button class="btn btn-secondary dropdown-toggle" style="padding:6px; font-size:12px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sıralama Yap <i class="mdi mdi-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="@Url.Action("FilterByProductList", "Home", new { KategoriID = id, sortType = "priceAsc" })">En Düşük Fiyat</a>
                            <a class="dropdown-item" href="@Url.Action("FilterByProductList", "Home", new { KategoriID = id, sortType = "priceDesc" })">En Yüksek Fiyat</a>
                            <a class="dropdown-item" href="@Url.Action("FilterByProductList", "Home", new { KategoriID = id, sortType = "topSeller" })">En Çok Satanlar</a>
                            <a class="dropdown-item" href="@Url.Action("FilterByProductList", "Home", new { KategoriID = id, sortType = "nameDesc" })">İsme Göre Sırala</a>
                        </div>
                    </div>
                    <ol class="breadcrumb m-0">
                        <li>
                            <a class="btn btn-sm btn-light" href="@Url.Action("FilterByProductList","Home", new { KategoriID = id })"><span class="fa fa-list"></span></a>
                        </li>
                        <li style="padding-left:2px;">
                            <a class="btn btn-sm btn-light" href="@Url.Action("FilterByProduct","Home", new { KategoriID = id })">
                                <span class="fa fa-solar-panel"></span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:0 auto;">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title mb-4">Filtreler</h5>

                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Ana Sayfa</li>
                                <li class="breadcrumb-item active">@KategoriAdi</li>
                            </ol>

                            <h5 class="card-title mb-4">Markalar</h5>

                            <div>
                                <ul class="list-unstyled product-list">
                                    @foreach (var item in markaListToFilter)
                                    {
                                        <li><a href="@Url.Action("FilterByBrand","Home", new { MarkaID = item.ID })"><i class="mdi mdi-chevron-right mr-1"></i> @item.MarkaAdi</a></li>
                                    }
                                </ul>
                            </div>

                            <div class="mt-4 pt-3">
                                @if (ViewBag.UstKategori != null || ViewBag.UstKategori != "")
                                {
                                    <h5 class="font-size-14 mb-3">@ViewBag.UstKategori</h5>
                                }
                                <ul class="list-unstyled product-list">
                                    @foreach (var item in ViewBag.AltKategoriler)
                                    {
                                        <li><a href="@Url.Action("FilterByProduct","Home", new { KategoriID = item.ID })"><i class="mdi mdi-chevron-right mr-1"></i> @item.KategoriAdi</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row" id="urunler_grid">
                @foreach (var item in digerUrunler)
                {
                    indirimOran = (int)b.musteriGrubu.IskontoOrani;
                    decimal _indirim = item.KDVFiyat * b.musteriGrubu.IskontoOrani / 100;
                    decimal toplam = item.KDVFiyat - _indirim;
                    item.KDVFiyat = toplam;
                    int Id = item.ID;
                    string birimFiyat = Id + "_fiyat";
                    <div class="col-xl-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="product-img position-relative">
                                    <a href="@Url.Action("DetailProduct","BayiUrun", new { Id = item.ID })">
                                        <img src="https://bayi.kiracelektrik.com.tr/Files/Urun/@item.Resim" alt="" style="max-width:150px;" class="mx-auto d-block">
                                    </a>
                                </div>
                                <div class="mt-2 text-center">
                                    <h5 class="mb-3 text-truncate">
                                        <a href="@Url.Action("DetailProduct","BayiUrun", new { Id = item.ID })"
                                           class="text-dark" data-toggle="tooltip" data-placement="top" title="" data-original-title="@item.UrunAdi">@item.UrunAdi </a>
                                    </h5>
                                    <h3 class="my-0"><span class="text-muted mr-2">@string.Format("{0:c}", toplam)</span></h3>
                                    <p class="text-info text-center" style="margin-top:5px;">
                                        @item.UrunNo
                                    </p>
                                    <input type="hidden" id="@birimFiyat" name="KDVFiyat" value="@toplam" />
                                </div>
                            </div>
                            <div class="row" style="padding: 0px 15px 15px 12px;">
                                <div class="col-sm-12">
                                    @if (item.ID == id)
                                    {
                                        <div class="form-group">
                                            <input type="text" value="0" class="form-control" placeholder="Adet..." disabled />
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <a href="#" class="btn btn-sm btn-block btn-info">Sepete Eklendi</a>
                                            </div>
                                            <div class="col-sm-4">

                                                @if (item.begeniler.Where(x => x.BayiID == b.ID).Count() > 0)
                                                {
                                                    <a href="@Url.Action("DissLikeHomePageList","BayiUrun", new { ID = item.ID } )" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorilerden Çıkar"><img src="~/Files/Bayi/icon_star_full.png" /></a>//dolu olacak - deletelike yapacağız
                                                }
                                                else
                                                {

                                                    <a href="@Url.Action("InsertLike","BayiUrun", new { ID = item.ID })" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorilere Ekle"><img src="/Files/Bayi/icon_star_empty.png" /></a>//boş olacak
                                                }
                                                <a href="@Url.Action("NotificateProductWhenStock","BayiUrun", new { ID = item.ID })" data-toggle="tooltip" data-placement="top" title="" data-original-title="Stokta Bildir"><i class="fa fa-bell bell-position"></i></a>
                                            </div>
                                        </div>
                                    }

                                    else
                                    {

                                        string adetId = Id + "_adet";
                                        <div class="form-group">
                                            <input type="text" name="Adet" id="@adetId" class="form-control" placeholder="Adet..." />
                                            <input type="hidden" value="@Id" name="@Id" id="@Id" />
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <button style="width:135px;" onclick="InsertSepet(@Id);" type="button" class="btn btn-sm btn-block btn-info">Sepete Ekle</button>
                                            </div>
                                            <div class="col-sm-4">

                                                @if (item.begeniler.Where(x => x.BayiID == b.ID).Count() > 0)
                                                {
                                                    <a href="@Url.Action("DissLikeHomePageList","BayiUrun", new { ID = item.ID } )" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorilerden Çıkar"><img src="~/Files/Bayi/icon_star_full.png" /></a>//dolu olacak - deletelike yapacağız
                                                }
                                                else
                                                {

                                                    <a href="@Url.Action("InsertLike","BayiUrun", new { ID = item.ID })" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorilere Ekle"><img src="/Files/Bayi/icon_star_empty.png" /> </a>//boş olacak
                                                }
                                                <a href="@Url.Action("NotificateProductWhenStock","BayiUrun", new { ID = item.ID })" data-toggle="tooltip" data-placement="top" title="" data-original-title="Stokta Bildir"><i class="fa fa-bell bell-position"></i></a>
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>
                            <div class="row" style="padding: 0px 15px 15px 12px;">
                                <div class="col-sm-12">
                                    <a href="@Url.Action("DetailProduct","BayiUrun", new { Id = item.ID })" class="btn btn-sm btn-block btn-primary">Ürün Detay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-lg-12">
                    @Html.PagedListPager((IPagedList<Urun>)ViewBag.Urunler,
                   page => Url.Action("FilterByProduct", new { page }),
                   PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                   {
                            MaximumPageNumbersToDisplay = 10,
                       DisplayPageCountAndCurrentLocation = true,
                       UlElementClasses = new[] { "pagination pagination-rounded justify-content-center mt-4" },
                       LiElementClasses = new[] { "page-link" },
                       EllipsesFormat = "&#8230;",
                       DisplayLinkToIndividualPages = true,
                       ActiveLiElementClass = "page-item",
                       DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                       DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                       DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                       DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                       PageCountAndCurrentLocationFormat = "",
                       ContainerDivClasses = new[] { "pagination-container" }
                        },
                    new AjaxOptions() { HttpMethod = "GET" }))
                </div>
            </div>
        </div>
    </div>

</div> <!-- end row -->
<div class="container-fluid">
    <div class="row" style="margin:0 auto;">
        <div class="col-12">
            @await Component.InvokeAsync("News")
        </div>
    </div>
</div>


@section scripts{

    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/slick/slick.js"></script>
    <script src="~/slick/slick.min.js"></script>
    <script src="~/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="~/assets/js/pages/product-filter-range.init.js"></script>

    <script>
    $('.slick-table').slick({
        dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 12,
        slidesToScroll: 12,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });

    var InsertSepet = function (ID) {
        var Adet = $("#" + ID + "_adet").val();
        var fiyat = $("#" + ID + "_fiyat").val();
        var remove = true;
        console.log(Adet, fiyat);
        $.ajax({
            type: "POST",
            url: "/Siparis/SepeteEkle/",
            data: { id: ID, Adet: Adet, fiyat: fiyat, remove: remove },
            success: function (response) {
                if (response == true) {
                      window.location.assign('@Url.Action("Basket","Siparis")');
                }
            }
        });
    }

    </script>
}
