@using UoW.DOMAIN.Models; 
@{ 
    List<SiteInfo> siteInfos = ViewBag.Sozlesmeler as List<SiteInfo>;
}
<div class="container">

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="mb-4 mb-lg-0">
                <h5 class="mb-3 footer-list-title">Kurumsal</h5>
                <ul class="list-unstyled footer-list-menu">
                    <li><a href="@Url.Action("AboutUs","Page")">Hakkımızda</a></li>
                    <li><a href="@Url.Action("ContactUs","Page")">İletişim</a></li>
                    <li><a href="@Url.Action("FAQs","Page")">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="mb-4 mb-lg-0">
                <h5 class="mb-3 footer-list-title">Yasal Kaynaklar</h5>
                <ul class="list-unstyled footer-list-menu">
                    @foreach (var item in siteInfos)
                    {
                        <li><a href="@Url.Action("SiteInfosDetail","Home", new { Id = item.ID })">@item.LinkAdi</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="mb-4 mb-lg-0">
                <h5 class="mb-3 footer-list-title">Hızlı İşlemler</h5>
                <ul class="list-unstyled footer-list-menu">
                    <li><a href="@Url.Action("HomePageList","Home")">Ana Sayfa</a></li>
                    <li><a href="@Url.Action("SpecialOfferBySeller","Home")">Özel Teklifler</a></li>
                    <li><a href="@Url.Action("BulletinList","Page")">Bültenler</a></li>
                    <li><a href="@Url.Action("News","Page")">Haberler</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="mb-4 mb-lg-0">
                <h5 class="mb-3 footer-list-title">Sıcak Döviz Kuru</h5>
                <div class="blog-post">
                    <a href="#" class="post">
                        <div class="badge badge-soft-success font-size-11 mb-3">Cryptocurrency</div>
                        <h5 class="post-title">Donec pede justo aliquet nec</h5>
                        <p class="mb-0"><i class="bx bx-calendar mr-1"></i> 04 Mar, 2020</p>
                    </a>
                    <a href="#" class="post">
                        <div class="badge badge-soft-success font-size-11 mb-3">Cryptocurrency</div>
                        <h5 class="post-title">In turpis, Pellentesque</h5>
                        <p class="mb-0"><i class="bx bx-calendar mr-1"></i> 12 Mar, 2020</p>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <hr class="footer-border my-5">

    <div class="row">
        <div class="col-lg-6">
            <div class="mb-4">
                <img src="https://admin.kiracelektrik.com.tr/files/uploads/profil/logo-light.png" alt="" height="50">
            </div>

            <p class="mb-2"><i class="fa fa-check-circle"></i> Veksis Bilişim tarafından geliştirildi</p>
            <p>Kıraç Elektrik Bayim © 2021 - Türkiye'nin en iyi elektrik - elektronik markası olarak bayilerimizle buluşuyoruz.</p>
        </div>
        <div class="col-lg-6">
            <div class="mb-4" style="margin: 0 auto;">
                <img src="https://admin.kiracelektrik.com.tr/files/uploads/bayi/security-icon-with-cargo-banner.png" height="50" />
            </div>

            <p class="mb-2"><span class="text-success"><i class="bx bx-lock"></i></span>  Sizleri güvenli alışverişle buluşturuyoruz</p>
            <p>Kıraç Elektrik Bayim ile yapacağınız her alışverişte sizlerin memnuniyetini önemsiyor, iyi alışverişler diliyoruz.</p>
        </div>
    </div>
    <!-- end row -->

</div>
<!-- end container -->