@model UoW.DOMAIN.Models.Kargo
@{
    ViewData["Title"] = "CargoDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    decimal indirim = 0;
}

    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Kargo Detayı</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Kargo</a></li>
                            <li class="breadcrumb-item active">Detay</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="invoice-title">
                            <h4 class="float-right font-size-16">Sipariş No # @Model.siparis.SiparisNo</h4>
                            <div class="mb-4">
                                <img src="https://admin.kiracelektrik.com.tr/files/uploads/profil/logo-dark.png" alt="logo" height="20" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <address>
                                    <strong>Hazırlana Kargo:</strong><br>
                                    @Model.kargoFirmaDetay.KargoAdi<br>
                                    @Model.kargoFirmaDetay.KargoAciklama
                                </address>
                            </div>
                            <div class="col-sm-6 text-sm-right">
                                <address class="mt-2 mt-sm-0">
                                    <strong>Teslim Edilen:</strong><br>
                                    @Model.bayi.BayiAdi<br>
                                    @Model.bayiAdresler.Adres
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-3">
                                <address>
                                    <strong>Satın Alma Notu:</strong><br>
                                    @Model.SatinalmaNotu<br>

                                </address>
                            </div>
                            <div class="col-sm-6 mt-3 text-sm-right">
                                <address>
                                    <strong>Sipariş Tarihi:</strong><br>
                                    @Model.siparis.SiparisTarih<br><br>
                                </address>
                            </div>
                        </div>
                        <div class="py-2 mt-3">
                            <h3 class="font-size-15 font-weight-bold">Sipariş</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="table-responsive">
                                    <table class="table table-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="width: 70px;">Ürün No</th>
                                                <th>Ürün Adı</th>
                                                <th>Fiyat</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (UoW.DOMAIN.Models.Sepet item in ViewBag.SiparisDetaylari)
                                            {

                                                decimal fiyat = item.UrunSepet.IndirimliFiyat + item.UrunSepet.KDVFiyat;
                                                indirim = ViewBag.TotalPrice - Model.siparis.ToplamFiyat;
                                                <tr>
                                                    <th scope="row">
                                                        <div>
                                                            <img src="https://admin.kiracelektrik.com.tr/files/uploads/urun/@item.UrunSepet.Resim" alt="" class="avatar-sm">
                                                        </div>
                                                    </th>
                                                    <td>@item.UrunSepet.UrunNo</td>
                                                    <td>
                                                        <div>
                                                            <h5 class="text-truncate font-size-14">@item.UrunSepet.UrunAdi</h5>
                                                            <p class="text-muted mb-0">@string.Format("{0:C}", item.BirimFiyat) x @item.Adet</p>
                                                        </div>
                                                    </td>
                                                    <td>@string.Format("{0:c}", item.ToplamSatır)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="table-responsive">
                                    <table class="table table-nowrap">         
                                        <tbody>         
                                            <tr>
                                                <td colspan="1">
                                                    <h6 class="m-0 text-right">Kargo Ücreti:</h6>
                                                </td>
                                                <td>
                                                    @if (Model.kargoFirmaDetay.KargoUcret == 0)
                                                    {
                                                        <span>Ücretsiz</span>
                                                    }
                                                    else
                                                    {
                                                        @string.Format("{0:c}", Model.kargoFirmaDetay.KargoUcret)
                                                    }
                                                  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1">
                                                    <h6 class="m-0 text-right">İndirim:</h6>
                                                </td>
                                                <td>
                                                    @string.Format("{0:c}", indirim)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1">
                                                    <h6 class="m-0 text-right">Toplam Tutar:</h6>
                                                </td>
                                                <td>
                                                    @string.Format("{0:c}", Model.siparis.ToplamFiyat)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                     
                        <div class="d-print-none">
                            <div class="float-right">
                                <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light mr-1"><i class="fa fa-print"></i></a>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->



