@model UoW.DOMAIN.Models.KargoFirmalar
@using UoW.DOMAIN.Models
@{
    ViewData["Title"] = "EditCargo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<MusteriGrubu> gruplar = ViewBag.MusteriGrublari as List<MusteriGrubu>;

}

<div class="page-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Kargo Şirketi Ekle!</h5>
                                    <p>Kargo şirketlerinizi ekleyin, bayilerinize seçenek sunun!</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="/assets/images/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="p-2">

                            @using (Html.BeginForm("InsertCargo", "Kargo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <div style="margin-top:10px;"></div>
                                    <label>(800x500px boyutunda bir foto yükleyin!)</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" accept="image/*" name="fileImg" id="fileImg">
                                        <label class="custom-file-label" for="customFile">Kargo Fotonuzu Seçin</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username">Kargo Adı</label>
                                    @Html.TextBoxFor(x => x.KargoAdi, new { @class = "form-control", maxlength = "70", autocomplete = "off", placeholder = "Kargo Adı...", id = "kargoAdi" })
                                    <label class="text-danger">@Html.ValidationMessageFor(x => x.KargoAdi)</label>
                                </div>
                                <div class="form-group">
                                    <label for="username">Kargo Ücreti</label>
                                    @Html.TextBoxFor(x => x.KargoUcret, new { @class = "form-control", maxlength = "10", autocomplete = "off", placeholder = "Kargo Ücreti...", id = "kargoUcret" })
                                    <label class="text-danger">@Html.ValidationMessageFor(x => x.KargoUcret)</label>

                                </div>
                                <div class="form-group">
                                    <label for="username">Kargo Açıklama</label>
                                    @Html.TextAreaFor(x => x.KargoAciklama, new { @class = "form-control", maxlength = "345", @row = "5", placeholder = "Kargo Açıklama...", id = "aciklama" })
                                </div>
                                @*<div class="form-horizontal">
                                        <label for="username">Müşteri Grupları</label>
                                        <div class="form-group row">
                                            @foreach (var item in gruplar)
                                            {
                                                <div class="col-sm-2">
                                                    <div class="custom-control custom-checkbox mb-3">
                                                        <input type="checkbox" class="custom-control-input" id="Check_@item.ID">
                                                        <label class="custom-control-label" for="Check_@item.ID">@item.GrubAdi</label>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>*@
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" onclick="btn_insert()" id="kargoEkle">Kargo Şirketi Oluştur</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/libs/jquery/jquery.min.js"></script>

    <script>

        $(document).ready(function () {
            setTimeout(function () {
                $('label[class=text-danger]').delay(500).fadeOut();
            }, 3000);
        });

        function btn_insert() {
            window.setTimeout(function () {
                $("#kargoEkle").attr("disabled", true);
            }, 500);
            var btn = document.getElementById("kargoEkle");
            btn.innerText = "Kargo Şirketi Oluşturuluyor...";
        }

            //$(function () {
            //    $("#kargoEkle").click(function () {
            //        var adi = $("#kargoAdi").val();
            //        var ucret = $("#kargoUcret").val();
            //        var aciklama = $("#aciklama").val();

            //        var file_data = $('#file').prop('files')[0];
            //        var form_data = new FormData();
            //        form_data.append('file', file_data);

            //        var musteriGrupIds = "";
            //        var arrayItem = [];
            //        $("input[type=checkbox]").each(function (index, val) {
            //            var checkId = $(val).attr("Id");
            //            var arr = checkId.split('_');
            //            var currentCheckboxId = arr[1];
            //            var Ischecked = $("#" + checkId).is(":checked", true);

            //            if (Ischecked) {
            //                arrayItem.push(currentCheckboxId);
            //            }
            //        })

            //        if (arrayItem.length != 0) {
            //            musteriGrupIds = arrayItem.toString();
            //            var model = {
            //                KargoAdi: adi, KargoUcret: ucret, KargoAciklama: aciklama
            //            };
            //            var serilizeModel = JSON.stringify(model);
            //            $.ajax({
            //                type: "POST",
            //                url: "/Kargo/InsertCargo",
            //                data: { kargo: model, grupList: serilizeModel, fileImg: form_data },
            //                dataType: 'json',
            //                processData: false,
            //                success: function (response) {
            //                    window.location.href = '/Kargo/ListCargo';
            //                }
            //            });
            //        }
            //    })
            //})

            //function LoadImage(input) {
            //    if (input.files && input.files[0]) {
            //        var reader = new FileReader();
            //        reader.onload = function (e) {

            //        }
            //        reader.readAsDataURL(input.files[0]);
            //    }
            //}
    </script>
}
