@model UoW.DOMAIN.Models.MusteriGrubu
@{
    ViewData["Title"] = "EditMusteriGrub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Müşterİ Grubunu Düzenle</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Yönetici Paneli</a></li>
                            <li class="breadcrumb-item active">Müşteri Grubunu Düzenle</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="card-body pt-0">
                        <div class="p-3">
                            <h4 class="card-title">@Model.GrubAdi Grubu Güncelle!</h4>
                            <p class="card-title-desc">
                                @Model.GrubAdi grubunuzu güncelleyin, istenilen bilgileri eksiksiz doldurunu!
                            </p>

                            @using (Html.BeginForm("EditCustomerGroup", "Bayi", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(x => x.ID)
                                <div class="form-group">
                                    <label for="username">Grup İkonu</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" accept="image/*" name="file" id="customFile">
                                        <label class="custom-file-label" for="customFile">İkonunuzu Seçin</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username">Grup Adı</label>
                                    @Html.TextBoxFor(x => x.GrubAdi, new { @class = "form-control", maxlength = "15", id = "username", autocomplete = "off", placeholder = "Grup adı giriniz..." })
                                    <label class="text-danger">@Html.ValidationMessageFor(x => x.GrubAdi)</label>
                                </div>
                                <div class="form-group">
                                    <label for="username">İskonto Oranı</label>
                                    @Html.TextBoxFor(x => x.IskontoOrani, new { @class = "form-control", maxlength = "5", id = "username", autocomplete = "off", placeholder = "İskonto oranı giriniz..." })
                                    <label class="text-danger">@Html.ValidationMessageFor(x => x.IskontoOrani)</label>
                                </div>
                                <div class="form-group">
                                    <label for="username">Açıklama</label>
                                    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", maxlength = "400", id = "username", autocomplete = "off", cols = "40", row = "3", placeholder = "İskonto oranı giriniz..." })
                                </div>
                                <div class="mt-3">
                                    <button id="btn_edit" onclick="edit_mg()" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Müşteri Grubu Güncelle</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/assets/js/pages/ecommerce-select2.init.js"></script>
    <script src="~/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/assets/js/pages/form-element.init.js"></script>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('label[class=text-danger]').delay(500).fadeOut();
            }, 3000);
        });
        function edit_mg() {
            window.setTimeout(function () {
                $("#btn_edit").attr("disabled", true);
            }, 500);
            var btn = document.getElementById("btn_edit");
            btn.innerText = "Müşteri Grubu Güncelleniyor...";
        }
    </script>
}