@model UoW.DOMAIN.Models.SiteInfo
@{
    ViewData["Title"] = "InsertCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">SİTE BİLGİSİ OLUŞTUR</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Yönetici Paneli</a></li>
                            <li class="breadcrumb-item active">Haber Oluştur</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-9">
                <div class="card overflow-hidden">
                    <div class="card-body pt-3">
                        <div class="p-3">
                            <h4 class="card-title">Site Bilgisi oluşturun!</h4>
                            <p class="card-title-desc">
                                Site Bilgileri ekleyin ve bilgilerinizi kontrol edin
                            </p>
                            <div class="p-2">

                                @using (Html.BeginForm("InsertSiteInfo", "SiteInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group">
                                        <label for="username">Başlık</label>
                                        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", maxlength = "70", id = "username", autocomplete = "off", placeholder = "Haber adı giriniz..." })
                                        <label class="text-danger">@Html.ValidationMessageFor(x => x.Baslik)</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Link</label>
                                        @Html.TextBoxFor(x => x.LinkAdi, new { @class = "form-control", maxlength = "45", id = "username", autocomplete = "off", placeholder = "Haber spotu giriniz..." })
                                        <label class="text-danger">@Html.ValidationMessageFor(x => x.Baslik)</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">İçerik</label>
                                        @Html.TextArea("Icerik", null, new { @class = "ckeditor" })
                                    </div>
                                 
                                    <div class="mt-3">
                                        <button id="btn_insert" onclick="insert_kategori()" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Site Bilgisi Oluştur</button>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>

    <script>

        $(document).ready(function () {

            setTimeout(function () {
                $('label[class=text-danger]').delay(500).fadeOut();
            }, 3000);

        });

        function insert_kategori() {
            window.setTimeout(function () {
                $("#btn_insert").attr("disabled", true);
            }, 500);
            var btn = document.getElementById("btn_insert");
            btn.innerText = "Site Bilgisi Oluşturuluyor...";
        }

    </script>
}