@model UoW.DOMAIN.Models.Dokuman

@{
    ViewData["Title"] = "InsertDocumentType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">DÖKMÜMAN GÜNCELLE</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Yönetici Paneli</a></li>
                            <li class="breadcrumb-item active">Döküman Güncelle</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-9">
                <div class="card overflow-hidden">
                    <div class="card-body pt-3">
                        <div class="p-3">
                            <h4 class="card-title">Döküman Güncelle!</h4>
                            <p class="card-title-desc">
                                Döküman Güncelle.
                            </p>
                            <div class="p-2">
                                @using (Html.BeginForm("UpdateDocument", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    <div class="form-group">
                                        <label for="username">Döküman Adı</label>
                                        @Html.TextBoxFor(x => x.KatalogAdi, new { @class = "form-control", maxlength = "45", id = "username", autocomplete = "off", placeholder = "Döküman adı giriniz..." })
                                        <label class="text-danger">@Html.ValidationMessageFor(x => x.KatalogAdi)</label>
                                    </div>

                                    <div class="form-group">
                                        <label for="username">Döküman Dosyası</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" accept="image/*" name="file" id="customFile">
                                            <label class="custom-file-label" for="customFile">Dökümanınızı Seçin</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Döküman Önizleme</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" accept="image/*" name="image" id="customFile">
                                            <label class="custom-file-label" for="customFile">Önizlemenizi Seçin</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Döküman Tipi</label>
                                        @Html.DropDownList("TipAdi", (SelectList)ViewBag.TipAdi, "Döküman Tipi Seç", new { @class = "form-control select2", id = "dropdown3" })
                                        <label class="text-danger">@Html.ValidationMessageFor(x => x.DokumanTipi)</label>
                                    </div>
                                    <div class="mt-3">
                                        <button id="btn_insert" onclick="insert_doc()" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Döküman Güncelle</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://uploads.bayi.kiracelektrik.com.tr/admin/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="https://uploads.bayi.kiracelektrik.com.tr/admin/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="https://uploads.bayi.kiracelektrik.com.tr/admin/assets/js/pages/form-element.init.js"></script>
    <script>

        $(document).ready(function () {

            setTimeout(function () {
                $('label[class=text-danger]').delay(500).fadeOut();
            }, 3000);

        });

        function insert_doc() {
            window.setTimeout(function () {
                $("#btn_insert").attr("disabled", true);
            }, 500);
            var btn = document.getElementById("btn_insert");
            btn.innerText = "Döküman Güncelleniyor...";
        }
    </script>
}