@using UoW.DOMAIN.Models
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
@using System.Linq;
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #fff;
            background-color: #34509d;
            border: 1px solid #34509d;
        }

            .page-link a {
                color: #fff;
            }

                .page-link a:hover {
                    color: #34509d;
                }
    </style>
}

<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">SİPARİŞLER</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered dt-responsive nowrap"
                               style="border-collapse: collapse;
                           border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sipariş Numarası</th>
                                    <th>Bayi</th>
                                    <th>Sipariş Zamanı</th>
                                    <th>Hazırlanma Zamanı</th>
                                    <th>Toplam Fiyat</th>
                                    <th>Ödeme Şekli</th>
                                    <th>Kargo Takip No</th>
                                    <th>Detay İş.</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ViewBag.Siparisler)
                                {
                                    <tr>
                                        <td class="text-body font-weight-bold">#@item.ID</td>
                                        <td>@item.SiparisNo</td>
                                        <td>@item.bayiSiparis.BayiAdi</td>
                                        <td>@item.SiparisTarih.ToShortDateString() @item.SiparisTarih.ToShortTimeString()</td>
                                        <td>@item.HazirlanmaTarih.ToShortDateString() @item.HazirlanmaTarih.ToShortTimeString()</td>
                                        <td style="color:green; font-weight:600;">@item.ToplamFiyat ₺</td>
                                        <td>@item.odemeSekliSiparis.Odeme</td>
                                        <td>@Enumerable.FirstOrDefault(item.kargoSiparis)?.KargoReferansNo</td>
                                        <td>
                                            <a href="@Url.Action("OrderDetail","Siparis", new { ID = item.ID })" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">Detay</a>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="modal" data-target="#model_@item.ID" class="text-danger" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                            <div id="model_@item.ID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title mt-0" id="myModalLabel">Siparişi Kaldır</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Bu siparişi sistemden kaldırmak istediğinize emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="javascript::void(0);" class="btn btn-secondary waves-effect" data-dismiss="modal">İptal</a>
                                                            <a href="@Url.Action("RemoveOrder","Siparis", new { ID = item.ID })" class="btn btn-primary waves-effect waves-light">Siparişi Sil</a>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.PagedListPager((IPagedList<Siparis>)ViewBag.Siparisler,
               page => Url.Action("OrderList", new { page }),
               PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
               {
                   MaximumPageNumbersToDisplay = 10,
                   DisplayPageCountAndCurrentLocation = true,
                   UlElementClasses = new[] { "pagination pagination-rounded justify-content-center mt-4" },
                   LiElementClasses = new[] { "page-link" },
                   EllipsesFormat = "&#8230;",
                   DisplayLinkToIndividualPages = true,
                   ActiveLiElementClass = "page-item",
                   DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                   DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                   DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                   DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                   PageCountAndCurrentLocationFormat = "",
                   ContainerDivClasses = new[] { "pagination-container" }
               },
                new AjaxOptions() { HttpMethod = "GET" }))
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/assets/js/pages/ecommerce-select2.init.js"></script>
    <script src="~/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/assets/js/pages/form-element.init.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#dropdown1').select2();
        });

    </script>
}