@using UoW.DOMAIN.Models
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
@using Microsoft.AspNetCore.Http
@using UoW.ADMIN.Controllers

@section Styles{
    <style>
        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #fff;
            background-color: #34509d;
            border: 1px solid #34509d;
        }

            .page-link a {
                color: #fff;
            }

                .page-link a:hover {
                    color: #34509d;
                }
    </style>
}

@{
    ViewData["Title"] = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = Convert.ToInt32(TempData["Id"]);
    Bayi b = ViewBag.Bayi as Bayi;
    int indirimOran = 0;
    List<UoW.DOMAIN.Models.Kategori> kategoriler = (List<UoW.DOMAIN.Models.Kategori>)Context.Session.GetObject<List<UoW.DOMAIN.Models.Kategori>>("kategoriler");
    PagedList<Urun> kampanyaliUrunler = ViewBag.KampanyaliUrunler as PagedList<Urun>;
    List<UoW.DOMAIN.Models.SliderBannerItem> sliderbannerItems = ViewBag.SliderBannerItems as List<UoW.DOMAIN.Models.SliderBannerItem>;
    PagedList<Urun> digerUrunler = ViewBag.Urunler as PagedList<Urun>;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row" style="margin:0 auto;">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">SİPARİŞ OLUŞTUR</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li>
                                <a class="btn btn-sm btn-light" href="@Url.Action("CreateOrderList","Islem")"><span class="fa fa-list"></span></a>
                            </li>

                            <li style="padding-left:2px;">
                                <a class="btn btn-sm btn-light" href="@Url.Action("CreateOrder","Islem")">
                                    <span class="fa fa-solar-panel"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:0 auto;">
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var item in kampanyaliUrunler)
                    {
                        indirimOran = Convert.ToInt32(item.IndirimOrani);
                        decimal? _indirim = item.KDVFiyat * item.IndirimOrani / 100;
                        decimal? toplam = item.KDVFiyat - _indirim;
                        item.IndirimliFiyat = (decimal)toplam;
                        decimal? _indirimIskonto = item.IndirimliFiyat * (b.musteriGrubu.IskontoOrani / 100);
                        decimal? toplamIskonto = item.IndirimliFiyat - _indirimIskonto;
                        item.IndirimliFiyat = (decimal)toplamIskonto;
                        int Id = item.ID;
                        string birimFiyat = Id + "_fiyat";
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="product-img position-relative">
                                        @if (item.IndirimOrani > 0)
                                        {
                                            <div class="avatar-sm product-ribbon">
                                                <span class="avatar-title rounded-circle bg-primary">
                                                    - @indirimOran %
                                                </span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="avatar-sm product-ribbon">

                                            </div>
                                        }
                                        <a href="@Url.Action("DetailProduct","Bayi", new { Id = item.ID })">
                                            <img src="https://bayi.kiracelektrik.com.tr/Files/Urun/@item.Resim" alt="" style="max-width:150px;" class="mx-auto d-block">
                                        </a>

                                        <a href="@Url.Action("DetailProduct","Bayi", new { Id = item.ID })" class="text-dark" data-toggle="tooltip" title="" data-placement="top" data-orginal-title="@item.UrunAdi">
                                            @if (item.UrunAdi.Length > 20)
                                            {
                                                @item.UrunAdi.Substring(0, 30)<span>...</span>
                                            }
                                        </a>

                                    </div>
                                    <div class="mt-4 text-center">
                                        <h5 class="mb-3 text-truncate">
                                            <a href="@Url.Action("DetailProduct","Bayi", new { Id = item.ID })"
                                               class="text-dark" data-toggle="tooltip" title="" data-placement="top" data-orginal-title="@item.UrunAdi">@item.UrunAdi </a>
                                        </h5>
                                        @if (item.IndirimOrani > 0)
                                        {
                                            <h3 class="my-0"><span class="text-muted mr-2"><del>@string.Format("{0:c}", item.KDVFiyat)</del></span> <b>@string.Format("{0:C}", item.IndirimliFiyat)</b></h3>
                                            <input type="hidden" id="@birimFiyat" name="IndirimliFiyat" value="@item.IndirimliFiyat" />

                                        }
                                        else
                                        {
                                            <h3 class="my-0"><span class="text-muted mr-2">@string.Format("{0:c}", item.KDVFiyat)</span></h3>
                                            <input type="hidden" id="@birimFiyat" name="KDVFiyat" value="@item.KDVFiyat" />

                                        }

                                    </div>
                                </div>
                                <div class="row" style="padding: 0px 15px 15px 12px;">
                                    <div class="col-sm-12">
                                        @if (item.ID == id)
                                        {
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Adet..." disabled />
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <a href="#" class="btn btn-sm btn-block btn-info">Sepete Eklendi</a>
                                                </div>

                                            </div>
                                        }
                                        else
                                        {
                                            string adetId = Id + "_adet";
                                            <div class="form-group">
                                                <input type="text" name="Adet" id="@adetId" class="form-control" placeholder="Adet..." />
                                                <input type="hidden" value="@Id" name="@Id" id="@Id" />
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button onclick="InsertSepet(@Id);" type="button" class="btn btn-sm btn-block btn-success">Sepete Ekle</button>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row" style="padding: 0px 15px 15px 12px;">
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("DetailProduct","Bayi", new { Id = item.ID })" class="btn btn-sm btn-block btn-warning">Ürün Detay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        @Html.PagedListPager((IPagedList<Urun>)ViewBag.KampanyaliUrunler,
                       page => Url.Action("HomePage", new { page }),
                       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                       {
                                MaximumPageNumbersToDisplay = 10,
                           DisplayPageCountAndCurrentLocation = true,
                           UlElementClasses = new[] { "pagination pagination-rounded justify-content-center mt-4" },
                           LiElementClasses = new[] { "page-link" },
                           EllipsesFormat = "&#8230;",
                           DisplayLinkToIndividualPages = true,
                           ActiveLiElementClass = "page-item",
                           DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                           DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                           DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                           DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                           PageCountAndCurrentLocationFormat = "",
                           ContainerDivClasses = new[] { "pagination-container" }
                            },
                        new AjaxOptions() { HttpMethod = "GET" }))
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @if (sliderbannerItems != null)
                {
                    <div class="card">
                        <div class="card-body">
                            <div id="carouselExampleSlidesOnly2" class="carousel slide" data-bs-ride="carousel">
                                <ol class="carousel-indicators">
                                    @for (int i = 0; i < sliderbannerItems.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <li data-target="#carouselExampleSlidesOnly2" data-slide-to="@i" class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#carouselExampleSlidesOnly2" data-slide-to="@i"></li>
                                        }
                                    }
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    @for (int i = 0; i < sliderbannerItems.Count; i++)
                                    {
                                        if (i == 0)
                                        {

                                            <div class="carousel-item active">
                                                <a href="@Url.Action("ProductListWithCampaign","Home", new { id = sliderbannerItems[i].ID })">
                                                    <img class="d-block img-fluid" src="https://bayi.kiracelektrik.com.tr/Files/Urun/@sliderbannerItems[i].ItemImage" alt="First slide" style="width:100%;" />
                                                </a>
                                            </div> }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <a href="@Url.Action("ProductListWithCampaign","Home", new { id = sliderbannerItems[i].ID })">
                                                    <img class="d-block img-fluid" src="https://bayi.kiracelektrik.com.tr/Files/Urun/@sliderbannerItems[i].ItemImage" alt="First slide" style="width:100%;" />
                                                </a>
                                            </div>
                                        }
                                    }

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleSlidesOnly2" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleSlidesOnly2" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="row" style="margin:0 auto;">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">DİĞER ÜRÜNLER</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li>
                                <a class="btn btn-sm btn-light" href="@Url.Action("HomePageList","Home")"><span class="fa fa-list"></span></a>
                            </li>

                            <li style="padding-left:2px;">
                                <a class="btn btn-sm btn-light" href="@Url.Action("HomePage","Home")">
                                    <span class="fa fa-solar-panel"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:0 auto;">
            <div class="col-lg-8">
                <div class="row" id="urunler_grid">
                    @foreach (var item in digerUrunler)
                    {
                        indirimOran = (int)b.musteriGrubu.IskontoOrani;
                        decimal _indirim = item.KDVFiyat * b.musteriGrubu.IskontoOrani / 100;
                        decimal toplam = item.KDVFiyat - _indirim;
                        item.KDVFiyat = toplam;
                        int Id = item.ID;
                        string birimFiyat = Id + "_fiyat";
                        <div class="col-xl-4 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="product-img position-relative">
                                        <a href="@Url.Action("DetailProduct","Bayi", new { Id = item.ID })">
                                            <img src="https://bayi.kiracelektrik.com.tr/Files/Urun/@item.Resim" alt="" style="max-width:150px;" class="mx-auto d-block">
                                        </a>
                                        <a href="@Url.Action("DetailProduct","Bayi", new { Id = item.ID })" class="text-dark" data-toggle="tooltip" title="" data-placement="top" data-orginal-title="@item.UrunAdi">
                                            @if (item.UrunAdi.Length > 20)
                                            {
                                                @item.UrunAdi.Substring(0, 30)<span>...</span>
                                            }
                                        </a>

                                    </div>
                                    <div class="mt-4 text-center">
                                        <h5 class="mb-3 text-truncate">
                                            <a href="@Url.Action("DetailProduct","Bayi", new { Id = item.ID })"
                                               class="text-dark" data-toggle="tooltip" title="" data-placement="top" data-orginal-title="@item.UrunAdi">@item.UrunAdi </a>
                                        </h5>
                                        <h3 class="my-0"><span class="text-muted mr-2">@string.Format("{0:c}", toplam)</span></h3>
                                        <input type="hidden" id="@birimFiyat" name="KDVFiyat" value="@toplam" />
                                    </div>
                                </div>
                                <div class="row" style="padding: 0px 15px 15px 12px;">
                                    <div class="col-sm-12">
                                        @if (item.ID == id)
                                        {
                                            <div class="form-group">
                                                <input type="text" value="0" class="form-control" placeholder="Adet..." disabled />
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <a href="#" class="btn btn-sm btn-block btn-info">Sepete Eklendi</a>
                                                </div>
                                            </div>
                                        }

                                        else
                                        {
                                            string adetId = Id + "_adet";
                                            <div class="form-group">
                                                <input type="text" name="Adet" id="@adetId" class="form-control" placeholder="Adet..." />
                                                <input type="hidden" value="@Id" name="@Id" id="@Id" />
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button onclick="InsertSepetSpecial(@Id);" type="button" class="btn btn-sm btn-block btn-success">Sepete Ekle</button>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                                <div class="row" style="padding: 0px 15px 15px 12px;">
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("DetailProduct","Bayi", new { Id = item.ID })" class="btn btn-sm btn-block btn-warning">Ürün Detay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        @Html.PagedListPager((IPagedList<Urun>)ViewBag.Urunler,
                       page => Url.Action("HomePage", new { page }),
                       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                       {
                                MaximumPageNumbersToDisplay = 10,
                           DisplayPageCountAndCurrentLocation = true,
                           UlElementClasses = new[] { "pagination pagination-rounded justify-content-center mt-4" },
                           LiElementClasses = new[] { "page-link" },
                           EllipsesFormat = "&#8230;",
                           DisplayLinkToIndividualPages = true,
                           ActiveLiElementClass = "page-item",
                           DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                           DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                           DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                           DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
                           PageCountAndCurrentLocationFormat = "",
                           ContainerDivClasses = new[] { "pagination-container" }
                            },
                        new AjaxOptions() { HttpMethod = "GET" }))
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @if (sliderbannerItems != null)
                {
                    <div class="card">
                        <div class="card-body">
                            <div id="carouselExampleSlidesOnly2" class="carousel slide" data-bs-ride="carousel">
                                <ol class="carousel-indicators">
                                    @for (int i = 0; i < sliderbannerItems.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <li data-target="#carouselExampleSlidesOnly2" data-slide-to="@i" class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#carouselExampleSlidesOnly2" data-slide-to="@i"></li>
                                        }
                                    }
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    @for (int i = 0; i < sliderbannerItems.Count; i++)
                                    {
                                        if (i == 0)
                                        {

                                            <div class="carousel-item active">
                                                <a href="#">
                                                    <img class="d-block img-fluid" src="https://bayi.kiracelektrik.com.tr/Files/Urun/@sliderbannerItems[i].ItemImage" alt="First slide" style="width:100%;" />
                                                </a>
                                            </div> }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <a href="#">
                                                    <img class="d-block img-fluid" src="https://bayi.kiracelektrik.com.tr/Files/Urun/@sliderbannerItems[i].ItemImage" alt="First slide" style="width:100%;" />
                                                </a>
                                            </div>
                                        }
                                    }

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleSlidesOnly2" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleSlidesOnly2" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>

    var InsertSepet = function () {
        var adet = $('#adet').val();
        var ID = $('#ID').val();
        var remove = true;
        $.ajax({
            type: "POST",
            data: '{}',
            dataType: 'json',
            url: "/Siparis/SepetListEkleHomeProductAdmin/" + ID + "/" + adet + "/" + remove,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response == true) {
                      window.location.assign('@Url.Action("BasketAdmin", "Siparis")');
                }
            }
        });
    }

     var InsertSepetSpecial = function () {
        var adet = $('#Adet').val();
        var ID = $('#ID').val();
        var remove = true;
        $.ajax({
            type: "POST",
            data: '{}',
            dataType: 'json',
            url: "/Siparis/SepetListEkleHomeSpecialProductAdmin/" + ID + "/" + adet + "/" + remove,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response == true) {
                      window.location.assign('@Url.Action("BasketAdmin","Siparis")');
                }
            }
        });
    }

</script>
