@model UoW.DOMAIN.Models.Urun
@using UoW.DOMAIN.Models
@{
    ViewData["Title"] = "DetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
    List<Urun> altUrunler = ViewBag.AltUrunler as List<Urun>;
}
<link href="https://admin.kiracelektrik.com.tr/files/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

<style>
    .avatar-sm {
        height: 70%;
        width: 70%;
        left: 15px;
        top: 18px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <div class="page-title-left">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("HomePageList","Home")">Ana Sayfa</a></li>
                        <li class="breadcrumb-item">@Model.kategori.KategoriAdi</li>
                        <li class="breadcrumb-item active">@Model.UrunAdi</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    @{await Html.RenderPartialAsync("DetailPartialProductPrice");}

    @if (altUrunler.Count == 0)
    {
        <div class="row mt-3">
            <div class="col-lg-12">
                <div>
                    <h5 class="mb-3">Bağlı Ürünler:</h5>
                    <div class="row">
                        <div class="col-xl-12 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <h5 style="margin-left:15px;">Henüz bir alt ürününüz bulunmuyor.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row mt-3">
            <div class="col-lg-12">
                <div>

                    <h5 class="mb-3">Bağlı Ürünler:</h5>

                    <div class="row">
                        @foreach (UoW.DOMAIN.Models.Urun item in altUrunler.Where(x => x.UstUrunID == Model.ID))
                        {
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-md-4">
                                                <img src="https://admin.kiracelektrik.com.tr/files/uploads/urun/@item.Resim" alt="" class="img-fluid mx-auto d-block">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="text-center text-md-left pt-3 pt-md-0">
                                                    <h5 class="mb-3 text-truncate"><a href="@Url.Action("DetailProduct","Urun", new { Id = item.ID })" class="text-dark">@item.UrunAdi</a></h5>
                                                    <p class="text-muted">
                                                        @item.UrunSpot
                                                    </p>
                                                    @if (item.IndirimOrani > 0)
                                                    {
                                                        <h5 class="my-0"><span class="text-muted mr-2"><del>@string.Format("{0:c}", item.KDVFiyat)</del></span> <b>@string.Format("{0:c}", item.IndirimliFiyat)</b></h5>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="my-0">
                                                            <span class="text-muted mr-2">@string.Format("{0:c}", item.KDVFiyat)</span>
                                                        </h5>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- end row -->
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-muted mt-2">@Html.Raw(Model.UrunSpot)</p>
                            <p class="description">@Html.Raw(Model.Aciklama)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-3">Ürün Özellikleri:</h5>

                    <div class="table-responsive">
                        <table class="table mb-0 table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row" style="width: 400px;">Kategori</th>
                                    <td><a href="@Url.Action("FilterByProduct","Home", new { KategoriID = Model.KategoriID })">@Model.kategori.KategoriAdi</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">Marka</th>
                                    <td><a href="@Url.Action("FilterByBrand","Home", new { MarkaID = Model.MarkaID })">@Model.marka.MarkaAdi</a> </td>
                                </tr>
                                <tr>
                                    <th scope="row">Maximum Satın Alınabilecek Ürün Sayısı</th>
                                    <td>@Model.MaxAdet</td>
                                </tr>
                                <tr>
                                    <th scope="row">Minimum Satın Alınabilecek Ürün Sayısı</th>
                                    <td>@Model.MinAdet</td>
                                </tr>
                                @*<tr>
                                        <th scope="row">Stok Birimi</th>
                                        <td>@Model.stokbirimi.BirimAdi</td>
                                    </tr>*@
                                <tr>
                                    <th scope="row">Etiketler</th>
                                    <td>
                                        @foreach (UoW.DOMAIN.Models.EtiketGonderi item in ViewBag.Etiketler)
                                        {
                                            <strong class="badge badge-pill badge-primary font-size-12">@item.etiketler.EtiketAdi</strong>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <!-- end row -->
</div>
<div id="myModalUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">#@Model.ID - @Model.UrunNo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>        
                <div class="modal-body" id="modelViewDep">
                </div>
            <div class="modal-footer">
                <a href="javascript::void(0);" class="btn btn-secondary waves-effect" data-dismiss="modal">Kapat</a>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- start page title -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@section Scripts{
    <script src="https://admin.kiracelektrik.com.tr/files/assets/libs/dropzone/min/dropzone.min.js"></script>
    <link href="https://admin.kiracelektrik.com.tr/files/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
    <script src="https://admin.kiracelektrik.com.tr/files/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <script>

        var DisplayListParentList = function (ID) {

            var url = "/BayiUrun/ListParentList?ID=" + ID;

            $("#modelViewDep").load(url, function () { //modal-body bölümündeki id buraya yazılacak
                $("#myModalUser").modal("show");
            })

        }

        $(document).ready(function () {
            Dropzone.options.dropzoneForm = {
                paramName: "file",
                maxFilesize: 20,
                maxFiles: 4,
                acceptedFiles: "image/*",
                dictMaxFilesExceeded: "Custom max files msg"
            }
        });

        $('#adet').keydown(function (e)
        {
            if (e.keyCode == 13) {
                sepeteEkle();
            }
        })

        $("#btnsubmit").click(function (e) {

            sepeteEkle();
        });

        function sepeteEkle() {
            var adet = $('#adet').val();
            var ID = $('#ID').val();
            var fiyat = $("input.price").val();
            var remove = true;

            $.ajax({
                url: "/Siparis/SepeteEkle",
                type: "POST",
                data: { id:ID, Adet:adet, fiyat:fiyat, remove:remove},
                success: function (response) {
                    if (response == true) {
                      window.location.assign('@Url.Action("Basket","Siparis")');
                    }
                }
            });
        }


        $("input[name='demo_vertical2']").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'glyphicon glyphicon-plus',
            verticaldownclass: 'glyphicon glyphicon-minus'
        });

    </script>

}

